.Header img {
    height: 110px;
}
.Header{
    text-align:right;
}
.Header nav {
    background-color:goldenrod;
    line-height: 42px;
    font: size 30px;  
}
nav a{
    text-decoration: none;
    color:black;
    margin-right: 20px;
    padding: 5px;

}